<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- ejs scriptlet tag -->

  <!-- <% if (whatDay==="Saturday" || whatDay ==="Sunday"){ %>
  <h1 style="color:red"> today is <%= whatDay %></h1>
 <% } else {%>

<h1 style="color:blue"> today is <%= whatDay %></h1>
<% } %> -->
  <div class="box" id="heading">
    <h1> <%= whatDay %></h1>
  </div>

  <div class="box">
    <% for(var i =0; i<addme.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= addme[i] %>
      <p>
    </div>
    <% } %>

    <form action="/" method="post">
      <input type="text" name="addItems" placeholder="Enter items" autocomplete="off">
      <button type="submit" name="button">+</button>

    </form>
  </div>



</body>

</html>
